---
import PastWeatherDay from "../../components/PastWeatherDay.astro";
import {
  PastWeatherDayData,
  ForecastData,
} from "../../util/weather-data-types";
import Layout from "../../layouts/Layout.astro";
import CurrentWeather from "../../components/CurrentWeather.astro";
import Forecast from "../../components/Forecast.astro";

export const prerender = false;

const { id } = Astro.params;

const response = await fetch(`${import.meta.env.API_URL}/api/${id}.json`);
const {
  area,
  pastWeather,
  forecast,
}: { area: any; pastWeather: PastWeatherDayData[]; forecast: ForecastData } =
  await response.json(); // TODO: fix types

// TODO: error handling here

const totalPrecip = pastWeather.reduce(
  (acc, day) => acc + day.precipitation.total ?? 0,
  0
);
---

<Layout>
  <h1>Weather for {area.name}</h1>
  <h3>Past 3 Days</h3>
  <strong>total precipitation:</strong>
  {totalPrecip}"
  <div class="past-weather-container">
    {pastWeather.map((day) => <PastWeatherDay data={day} />)}
  </div>
  <hr />
  <CurrentWeather data={forecast.current} />
  <hr />
  <Forecast hourly={forecast.hourly} daily={forecast.daily} />
</Layout>

<style lang="scss">
  .past-weather-container {
    display: flex;
    flex-direction: row;
  }
</style>
