---
import type { HourlyForecastItem } from "../util/weather-data-types";
import { getCardinalDirectionFromDegrees, mmToIn } from "../util/mappers";
import { DateTime } from "luxon";
import DataContainer from "./data/DataContainer.astro";
import Thermometer from "./data/Thermometer.astro";
import Precipitation from "./data/Precipitation.astro";
import TextData from "./data/TextData.astro";
import Wind from "./data/Wind.astro";
import CloudCover from "./data/CloudCover.astro";
import Humidity from "./data/Humidity.astro";
import UVIndex from "./data/UVIndex.astro";

type Props = { data: HourlyForecastItem };

const { data } = Astro.props;
---

<div class="hourly-forecast-item">
  <h3>
    <time
      datetime={DateTime.fromSeconds(data.dt).toLocaleString(
        DateTime.TIME_24_SIMPLE
      )}
      >{DateTime.fromSeconds(data.dt).toLocaleString(DateTime.TIME_24_SIMPLE)}: {
        data.weather[0].description
      }</time
    >
  </h3>
  <DataContainer>
    <Thermometer value={data.temp} feelsLike={data.feels_like} type="current" />
    {
      isFinite(data.rain?.["1h"]) && (
        <Precipitation label="rain last hr" value={mmToIn(data.rain["1h"])} />
      )
    }
    {
      isFinite(data.snow?.["1h"]) && (
        <Precipitation label="snow last hr" value={mmToIn(data.snow["1h"])} />
      )
    }
    {
      isFinite(data.pop) && (
        <div>
          <>
            <label style={{ fontSize: "0.75rem" }}>chance precip:</label>
            <br />
          </>
          <TextData>{data.pop * 100}%</TextData>
        </div>
      )
    }
    <Humidity value={data.humidity} } />
    <Thermometer value={data.dew_point} type="dew point" />
    <UVIndex value={data.uvi} />
    <Wind direction={data.wind_deg} speed={data.wind_speed} />
    <CloudCover value={data.clouds} />
  </DataContainer>
</div>

<style lang="scss">
  .hourly-forecast-item {
    border-radius: 8px;
    box-shadow: 4px 4px 12px #000000;
    margin-bottom: 1rem;
    margin-right: 1rem;
    max-height: calc(100% - 2rem);
    padding: 0 1rem 1rem;
  }
  h3 {
    text-align: center;
  }
</style>
