---
import type { PastWeatherDayData } from "../util/weather-data-types";
import { mmToIn } from "../util/mappers";
import { DateTime } from "luxon";
import Thermometer from "./data/Thermometer.astro";
import Precipitation from "./data/Precipitation.astro";
import Wind from "./data/Wind.astro";
import Humidity from "./data/Humidity.astro";
import DataContainer from "./data/DataContainer.astro";

type Props = { data: PastWeatherDayData; label?: string };

const { data, label } = Astro.props;
const time = DateTime.fromISO(data.date).toLocaleString(DateTime.DATE_MED_WITH_WEEKDAY);
---

<div class="past-weather-day">
  <h3>
    <time datetime={time}
      >{label ?? time
        .split(",")
        .slice(0, -1)
        .join(",")
      }</time>
  </h3>
  <DataContainer>
    <Thermometer value={data.temperature.min} type="low" />
    <Thermometer value={data.temperature.max} type="high" />
    <Precipitation value={mmToIn(data.precipitation.total)} />
    {data.humidity.afternoon && <Humidity value={data.humidity.afternoon}} />}
    <Wind direction={data.wind.max.direction} speed={data.wind.max.speed} />
  </DataContainer>
</div>

<style lang="scss">
  .past-weather-day {
    border-radius: 8px;
    box-shadow: 4px 4px 12px #000000;
    margin: 0.5rem;
    max-height: calc(100% - 2rem);
    padding: 0 1rem 1rem;
  }
</style>
