---
import type { PastWeatherDayData } from "../util/weather-data-types";
import { getCardinalDirectionFromDegrees, mmToIn } from "../util/mappers";
import { DateTime } from "luxon";
import Thermometer from "./data/Thermometer.astro";
import Precipitation from "./data/Precipitation.astro";
import Wind from "./data/Wind.astro";
import Humidity from "./data/Humidity.astro";

type Props = { data: PastWeatherDayData };

const { data } = Astro.props;
---

<div class="past-weather-day">
  <h3>
    <time datetime={data.date}
      >{DateTime.fromISO(data.date).toLocaleString(DateTime.DATE_FULL)}</time
    >
  </h3>
  <div class="temp-range">
    <Thermometer value={data.temperature.min} type="low" />
    <Thermometer value={data.temperature.max} type="high" />
  </div>
  <Precipitation value={mmToIn(data.precipitation.total)} />
  <Wind direction={data.wind.max.direction} speed={data.wind.max.speed} />
  {data.humidity.afternoon && <Humidity value={data.humidity.afternoon}} />}
</div>

<style lang="scss">
  .past-weather-day {
    border-radius: 8px;
    box-shadow: 4px 4px 12px #000000;
    margin-right: 1rem;
    padding: 0 0.5rem;
  }
  h3 {
    text-align: center;
  }
  .temp-range {
    display: flex;
    flex-direction: row;
  }
</style>
