---
import type { PastWeatherDayData } from "../util/weather-data-types";
import { getCardinalDirectionFromDegrees } from "../util/mappers";
import { DateTime } from "luxon";

type Props = { data: PastWeatherDayData };

const { data } = Astro.props;
---

<div class="past-weather-day">
  <h3>{DateTime.fromISO(data.date).toLocaleString(DateTime.DATE_FULL)}</h3>
  <ul>
    <li>
      <strong>temprature:</strong> low: {data.temperature.min}°F, high: {
        data.temperature.max
      }°F
    </li>
    <li><strong>precipitation:</strong> {data.precipitation.total}"</li>
    <li>
      <strong>wind:</strong>
      {getCardinalDirectionFromDegrees(data.wind.max.direction)}, {
        data.wind.max.speed
      }mph
    </li>
    {
      data.humidity.afternoon && (
        <li>
          <strong>humidity:</strong> {data.humidity.afternoon}%
        </li>
      )
    }
  </ul>
</div>

<style lang="scss">
  .past-weather-day {
    margin-right: 1rem;
  }
</style>
